{# app/Resources/views/mad/youtube.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Youtube Channel Search{% endblock %}

{% block body %}
<div align="center">
    <h3>Youtube Channel Videos</h3>
    {{ form_start(form) }}
    <table>
        <tr>
            <td> {{ form_row(form.task) }} </td>
            <td>
                {{ form_row(form.num, { 'attr': {
                    'style' : 'width:50px', 'min' : 1, 'max' : 100
                    }} ) }}
            </td>
            <td> {{ form_row(form.submit) }} </td>
        </tr>
    </table>
    {{ form_end(form) }}

    {% if search_result_count == 0 %}
        <div align="center"><h3>Sorry no Videos found.</h3></div>
    {% elseif search_result_count > 0 %}
        {# set variables for table #}
        {% set k=0 %}
        {% set rows = ((max_results-1)/4)|number_format  %}
        <table border="0" cellpadding="0" cellspacing="25">
            {% for i in 0..rows %}
                <tr>
                {% for j in 0..3 if k < search_result_count %}
                        <td valign="top" style="width: 240px">
                            <b><h4>{{ youtube_titles[k] }}</h4> </b>
                            {#
                            <img src="{{ youtube_thumbnails[k] }}" width="240" height="180">
                            #}
                            <iframe width="240" height="180" src={{ youtube_video_urls[k] }} \>
                            </iframe>

                            {{  youtube_descriptions[k] }}
                            <br>
                            <b>{{  youtube_video_durations[k] }}</b>
                        </td>
                    {% set k=k+1 %}
                {% endfor %}
                </tr>
            {% endfor %}

        </table>
    {% endif %}
</div>

{% endblock %}
